// Removes awkward default styles on some inputs for iOS
input {
  &[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

input {
  &[type="date"]:focus {
    border: 1px solid $primary-color;
    outline: 0;
  }
}